<% cache do %>

  <div class="row">

    <div class="large-12 columns">

      <h2 class="header"><%= t 'global.app.name' %></h2>
      <p class="subheader"><%= t 'global.app.slogan' %></p>

      <hr>

    </div>

  </div>

<% end %>

<div class="row">
  <div class="large-12 columns">
    <% if current_device %>
      <%= current_device.product %>
      <%= current_device.version %>
      <%= current_device.udid %>
    <% else %>
      <%= link_to t('global.device.registration'), devices_path(:format => 'mobileconfig'), :method => :post %>
    <% end %>
  </div>
</div>
