<% cache do %>

  <div class="row">

    <div class="large-12 columns">

      <h2 class="header"><%= t 'global.app.name' %></h2>
      <p class="subheader"><%= t 'global.app.slogan' %></p>

      <hr>

    </div>

  </div>

<% end %>

<% unless current_device %>
  <div class="row">
    <div class="large-12 columns">
      <p><%= link_to t('global.device.registration'), devices_path(format: 'mobileconfig'), method: :post, class: 'button' %></p>
      <hr>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="large-12 columns">
    <% if current_user %>
      <p><%= t('global.hello', :name => current_user.first_name) %></p>
      <ul>
        <% current_user.repositories.each do |repository| %>
          <h2><%= repository.name %></h2>
          <p><%= repository.description %></p>
          <% repository.users.each do |user| %>
            <%= image_tag user.avatar_url, :width => 32, :height => 32 %>
          <% end %>
          <% repository.bundles.each do |bundle| %>
            <p><%= bundle.url %></p>
            <% if current_device %>
              <% if bundle.install_errors(current_device).empty? %>
                <p><%= t('global.install') %></p>
              <% else %>
                <p><%= bundle.install_errors(current_device).join('; ') %>.</p>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <p><%= link_to t('global.github.track'), [:new, :repository], class: 'button' %></p>
    <% else %>
      <p><%= link_to t('global.github.registration'), oauth_start_path(client: 'github'), method: :post, class: 'button' %></p>
    <% end %>
  </div>
</div>
